<!--index.html-->

{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}
<header>
	<div class="header-content">
		<div class="header-content-inner">
			<h1 id="homeHeading" style="text-shadow: 2px 2px 2px #5a3f3f;"> Bright Events </h1>
			<hr>
			<p>Platform to create and manage different types of events. 
			<br>
				<a href="/api/v1/userevents">RSVP </a>to events. 
			<br>			
			<p>Organizing for events? <a href="/api/v1/auth/register" id="register"> Register </a> today. 
			</p>
			
		</div>

	</div>
</header>
{% endblock %}